body {
  background-color: #eeeeee;
}

span {
  display: inline-block;
  width: 100px;
  height: 100px;
}
#rotation1 {
  animation: 3s linear infinite rotation1;
}
#rotation2 {
  animation: 3s linear infinite rotation2;
}
#rotation3 {
  animation: 3s linear infinite rotation3;
}
@keyframes rotation1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation2 {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes rotation3 {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP";
  /* cursor: none; */
}

.kurukuru{
  padding-bottom: 100%;
  user-select: none;
}

.cursor,
.follower span {
  border-radius: 0%;
  position: absolute;
  top: 0;
  left: 0;
}
.cursor {
  z-index: 1001;
}
.follower span {
  background-repeat: no-repeat;
  background-image: url("../images/関暁夫_002.jpg");
  background-size: 50px 50px;
  z-index: 1000;
}

/* Twitter emoji */
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

ul {
  padding: 0;
}

ul li, ol li {
  color: #404040;
  border-left: solid 6px #1fa67a;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}