span{
    display:inline-block;
    width:225px;
    height: 225px;
  }
  #rotation1{
    animation:3s linear infinite rotation1;
  }
  #rotation2{
    animation:3s linear infinite rotation2;
  }
  #rotation3{
    animation:3s linear infinite rotation3;
  }
  @keyframes rotation1{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg); }
  }
  @keyframes rotation2{
    0%{ transform:rotateX(0);}
    100%{ transform:rotateX(360deg); }
  }
  @keyframes rotation3{
    0%{ transform:rotateY(0);}
    100%{ transform:rotateY(360deg); }
  }

  body {
    margin: 0;
    padding: 0;
    cursor: none;
}

.cursor,
.follower span {
    border-radius: 0%;
    position: absolute;
    top: 0;
    left: 0;
}
.cursor {
    width: 8px;
    height: 8px;
    background-color: #000000;
    z-index: 1001;
}
.follower span {
    background-image: url('../images/関暁夫_002.jpg');
    z-index: 1000;

}